[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
requests = "*"
beautifulsoup4 = "*"
seaborn = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.12"
