{
    "seasons": {
        "1": {
            "type": "regular",
            "year": 2024
        },
        "2": {
            "type": "pre",
            "year": 2024
        },
        "3": {
            "type": "post",
            "year": 2024
        },
        "4": {
            "type": "pre",
            "year": 2025
        },
        "5": {
            "type": "regular",
            "year": 2025
        },
        "6": {
            "type": "post",
            "year": 2025
        },
        "7": {
            "type": "pre",
            "year": 2026
        },
    },
    "output_path": "../data/seasons",
    "clean_output_path": "../data/clean",
    "elos_output_path": "../data/clean",
    "chart_data_output_path": "../data/clean",
    "projections_output_path": "../data/clean",
    "url": "https://lscluster.hockeytech.com/feed/"
}
