{
    "seasons": {
        "1": {
            "type": "pre",
            "year": 2024
        },
        "2": {
            "type": "regular",
            "year": 2024
        },
        "3": {
            "type": "post",
            "year": 2024
        },
        "4": {
            "type": "pre",
            "year": 2025
        },
        "5": {
            "type": "regular",
            "year": 2025
        },
        "6": {
            "type": "post",
            "year": 2025
        }
    },
    "output_path": "../data/seasons",
    "clean_output_path": "../data/clean",
    "url": "https://lscluster.hockeytech.com/feed/"
}
