#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.rating-table {
  margin-left: auto;
  margin-right: auto;
}
.team-name {
  text-align: left;
}

.num-col {
  text-align: right;
}

.date-header {
  margin-bottom: 10px;
  margin-top: 25px;
}
.projection-table {
  width: 300px;

}

.projection-table tr td:first-child, .projection-table th td:first-child {
  width: 110px;
}
.projection-table tr td:nth-child(2), .projection-table tr th:nth-child(2) {
  width: 60px;
}
.projection-table tr td:nth-child(3), .projection-table tr th:nth-child(3) {
  width: 65px;
}
.projection-table tr td:last-child, .projection-table tr th:last-child {
  width: 65px;
}

/* puts space between games on same day */
.not-first-game td {
  padding-top: 15px;
}
.line-chart-legend{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.legend-item {
  display: flex;
  position: relative;
  margin-left: 5px;
  margin-right: 5px;

}
.color-swatch{
  height: 5px;
  width: 15px;
  margin-top: auto;
  margin-bottom: auto;
  /* margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
}
.legend-label {
  font-size: .75em;
  margin-right: 5px;
}